<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2016 IBM Corp.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/psl"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.sample.preemptiveloginandroid.PreemptiveLoginApplication"
        android:exported="true"
        android:usesCleartextTraffic="true">
        <!--android:networkSecurityConfig="@xml/network_config"-->
        <activity android:name="com.worklight.wlclient.ui.UIActivity" />
        <activity android:name="com.sample.preemptiveloginandroid.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ibm.mobilefirstplatform.clientsdk.android.push.api.MFPPushNotificationHandler" android:theme="@android:style/Theme.NoDisplay" />
        <service
            android:name="com.ibm.mobilefirstplatform.clientsdk.android.push.api.MFPPushNewIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ibm.mobilefirstplatform.clientsdk.android.push.api.MFPPush"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <activity android:name="com.sample.preemptiveloginandroid.ProtectedActivity"></activity>
        <activity android:name="com.sample.preemptiveloginandroid.MainActivity"></activity>
        <activity android:name="com.sample.preemptiveloginandroid.LiveUpdate"></activity>
    <activity android:name="com.sample.preemptiveloginandroid.PushActivity"></activity>
    </application>

</manifest>
